SERVER_PORT=8080
API_BASE_PATH=/api/v1
MODE=dev

PG_HOST=localhost:5432
PG_DB=name_of_your_database
PG_USER=postgres
PG_PASSWORD=your_secure_password

ADMIN_USER=admin
ADMIN_PASSWORD=your_secure_admin_password

JWT_SECRET=your_secure_jwt_secret_key_32_characters_long
JWT_EXPIRE=86400000
JWT_REFRESH_EXPIRATION=604800000
